@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.Partial("_LoginInfoPartial")
            </li>
            
                @{
                    var MyTempData = TempData["LoginData1"] as MVC5Course.Models.LoginModel;
                }

                @if (MyTempData != null)
                {
                    <li>
                        <a href="#">@(MyTempData.UserName)登入成功!</a>
                    </li>
                }
            
            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
        </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            @*<li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                            <li>@Html.ActionLink("登入", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
